/* Reset styles */
:root {
  --doc-height: 100%;
 }
 
 html,
 body {
  padding: 0;
  margin: 0;
  height: var(--doc-height);
 min-height: var(--doc-height);
 }

 body {

  min-height: var(--doc-height) ;
 }

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 /* Header styles */
 header {
   background-color: #0b1573;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;
   border-bottom: 2px gray solid;
 }
 
 .imageTop {
   width: 100%;
   height: auto;
   margin: 5px 0px 0px;
   display: flex;
   flex-grow: 0;
   box-shadow: 5px 8px 5px #0b1573;
   border: 2px solid #01030e;
 }

 .title {
   width: fit-content;
   height: auto;
   display: flex;
   justify-content: center;
   text-align: left;
   margin: 0px 0px 0px;
   padding: 14px;
   background-color: #05021e6c;
   background-image: radial-gradient(
    rgba(0, 0, 0, 0.443),
    rgba(10, 10, 157, 0.561)
   );
   border-radius: 5px;
   border: 0px solid #0b1573;
   color: whitesmoke;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
   line-height: 28px;
 }

 .subtitle {
   display: flex;
   justify-content: center;
   text-align: left;
   margin: 0px 0px 0px;
   padding: 10px;
   background-color: #05021e6c;
   border-radius: 5px;
   border: 0px solid #0b1573;
   color: whitesmoke;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 12px;
   line-height: 28px;
   background-image: radial-gradient(
    rgba(0, 0, 0, 0.443),
    rgba(10, 10, 157, 0.561)
   );
 }

 .imageTopCaption {
   width: 100%;
   height: fit-content;
   display: flex;
   align-self: center;
   margin: 0;
   padding: 5px;
   background-color: #05021e;
   border-radius: 5px;
   border: 0px solid #0b1573;
   color: whitesmoke;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 10px;
   
 }

 .aboutBio {
   width: 60%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-self: center;
   margin: 0px 0px 20px;
   padding: 15px;
   background-color: #decdaf;
   border-radius: 10px;
   border: 2px solid #0b1573;
   box-shadow: 5px 5px 5px #0b1573;
   line-height: 28px;
   font-size: 14px;
 }

#file-upload {
   width: 50%;
   height: auto;
   display: flex;
   align-self: center;
   align-content: center;
   justify-content: center;
   margin: 0px 0px 10px 0px;
   padding: 15px;
   background-color: #decdafb7;
   border-radius: 10px;
   border: 2px solid #0b1573;
   box-shadow: 5px 5px 5px #0b1573;
   line-height: 28px;
   font-size: 14px;
   text-align: center;
}

#image {
   display: flex;
   margin: 0px 0px 0px;
   align-self: center;
   box-shadow: 5px 8px 5px #0b1573;
   border: 2px solid #01030e;
   flex-basis: 25%;
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

#output {
   width: 40%;
   height: auto;
   margin: 0px 0px 20px;
   display: flex;
   align-self: center;
   justify-content: center;
   box-shadow: 5px 8px 5px #0b1573;
   border: 0px solid #01030e;
   color:aqua
}

/* navigation and button styles */
nav {
  display: flex;
  justify-content: space-between;
}

 nav ul {
   display: flex;
   justify-content: left;
   list-style: none;
   margin: 0;
   padding: 14px;
   gap: 12px;
 }
 
 nav li {
   margin-right: 10px;
 }
 
 nav a:hover {
   text-decoration: underline;
 }
 nav a {
   color: #cfd8e5;
   text-decoration: none;
   font-size: 20px;
 }

 button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2196F3;
    background-image: repeating-linear-gradient(
      rgba(100, 248, 196, 0.694),
      rgb(5, 5, 85)); 
    border-radius: 5px;
    border:rgb(5, 5, 85) solid 2px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 8px 8px 8px;
 }

 
 /* Logo styles */
 .logo {
   display: none;
   width: 200px;
   height: 200px;
   margin: 0;
   background-image: url(logo.png);
   background-size: cover;
   animation: fadein 2s;
 }
 
 @keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }
 
 /* Main styles */
 main.about{
  background-color: #00053c;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 186, 0.391)
  ), url("./images/about_background.jpeg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
 }

 main {
  min-height: var(--doc-height) ;
  width: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #00053c;
  background-image: linear-gradient(
    to bottom,
    rgba(175, 175, 32, 0.5),
    rgba(0, 0, 143, 0.5)
  ), url("./images/index_background.jpeg");
  background-size: cover;

}

 /* Footer styles */
 footer {
   background-color: #decdaf;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   padding: 10px;
 }
 
 .left-col {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0px 10px;
  padding: 0px;
 }

 .custom-file-upload {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2196F3;
  background-image: repeating-linear-gradient(
    rgba(100, 248, 196, 0.694),
    rgb(5, 5, 85)); 
  border-radius: 5px;
  border:rgb(5, 5, 85) solid 2px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 0px 0px 0px;
}

.custom-file-upload:hover {
  background-color: #1976D2;
  background-image: repeating-linear-gradient(
    rgb(5, 5, 85),
    rgba(100, 248, 196, 0.694));
    transition: all .5s; 
}

#file-upload {
  display: none;
}

#file-upload:not(:disabled) + .custom-file-upload {
  cursor: pointer;
}

.custom-file-upload i {
  margin-right: 5px;
}

/* Styles for the table container */
.table-container {
  display: flex;
  opacity: 0;
  margin: 0px 0px 0px;
  box-shadow: 5px 8px 5px #0b1573;
  transition-property: opacity ;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.show {
  display: flex;
  flex-wrap: wrap;
  
}

th {
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
  background-color: #ccc;
  background-image: linear-gradient(to bottom,
  rgba(33, 100, 76, 0.694),
  rgb(32, 32, 126));
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgba(73, 91, 197, 0.677);
  color: #ccc;
  padding: 8px;
  text-align: left;
}

/* Styles for the table cells */
td {
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
  border: 1px solid rgba(73, 91, 197, 0.677);
  padding: 8px;
  text-align: left;
  color: #ccc;
  background-image: linear-gradient(to bottom,
  rgba(154, 151, 0, 0.378),
  rgba(0, 0, 148, 0.5));
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
  /* Set display to flex and flex-wrap to wrap */
  .table-container {
    display: flex;
    flex-wrap: wrap;
  }
  .heading {
    flex-direction: column !important;
    margin: 0px 8px;
}

  main {
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
  }
  #image {
    width: 80%;
    max-width: 80%;
    margin-bottom: 50px;
  }

  .left-col {
    margin: 50px 0px 0px;
  }
  /* Set flex-basis and flex-grow for table cells */
  td {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 8px;
  }

  .custom-file-upload {
    font-size: 20px;
  }

  .aboutBio {
    width: 90%;
  }

  .topRow {
    flex-direction: column !important;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  line-height: 26px;
  gap: 10px;
  margin: 10px 12px 10px;
  padding: 0px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loading-wheel {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  margin: 0px 12px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 0;
  margin: 0px 20px;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 20px;
  padding: 0px;
}

.copy {
  align-self: flex-start;
  color: #007bff91;
  font-size: 16px;
  margin-bottom: 16px;
  margin-left: 100px;

}

.topRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

