/* Reset styles */
:root {
  --doc-height: 100%;
 }
 
 html,
 body {
  padding: 0;
  margin: 0;
  height: var(--doc-height);
 min-height: var(--doc-height);
 }

 body {

  min-height: var(--doc-height) ;
 }

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 /* Header styles */
 header {
   background-color: #0b1573;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;
   border-bottom: 2px gray solid;
 }
 
 .imageTop {
   width: 30%;
   height: auto;
   margin: 5px 0px -10px;
   display: flex;
   align-self: center;
   box-shadow: 5px 8px 5px #0b1573;
   border: 2px solid #01030e;
 }

 .title {
   width: fit-content;
   height: auto;
   display: flex;
   justify-content: center;
   text-align: center;
   align-self: center;
   margin: 40px 0px 0px;
   padding: 10px;
   background-color: #05021e6c;
   border-radius: 5px;
   border: 0px solid #0b1573;
   color: whitesmoke;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
   line-height: 28px;
 }

 .subtitle {
   display: flex;
   justify-content: center;
   text-align: center;
   align-self: center;
   margin: 0px 0px 0px;
   padding: 10px;
   background-color: #05021e6c;
   border-radius: 5px;
   border: 0px solid #0b1573;
   color: whitesmoke;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 12px;
   line-height: 28px;
 }

 .imageTopCaption {
   width: 30%;
   height: fit-content;
   display: flex;
   align-self: center;
   margin: 0;
   padding: 5px;
   background-color: #05021e;
   border-radius: 5px;
   border: 0px solid #0b1573;
   color: whitesmoke;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 10px;
   
 }

 .aboutBio {
   width: 60%;
   height: fit-content;
   display: flex;
   align-self: center;
   margin: 0px 0px 200px;
   padding: 15px;
   background-color: #decdaf;
   border-radius: 10px;
   border: 2px solid #0b1573;
   box-shadow: 5px 5px 5px #0b1573;
   line-height: 28px;
   font-size: 14px;
 }

#file-upload {
   width: 50%;
   height: auto;
   display: flex;
   align-self: center;
   align-content: center;
   justify-content: center;
   margin: 0px 0px 10px 0px;
   padding: 15px;
   background-color: #decdafb7;
   border-radius: 10px;
   border: 2px solid #0b1573;
   box-shadow: 5px 5px 5px #0b1573;
   line-height: 28px;
   font-size: 14px;
   text-align: center;
}

#image {
   margin: 0px 0px 0px;
   align-self: center;
   box-shadow: 5px 8px 5px #0b1573;
   border: 2px solid #01030e;
}

#output {
   width: 40%;
   height: auto;
   margin: 0px 0px 20px;
   display: flex;
   align-self: center;
   justify-content: center;
   box-shadow: 5px 8px 5px #0b1573;
   border: 0px solid #01030e;
   color:aqua
}


 nav ul {
   display: flex;
   justify-content: left;
   list-style: none;
   margin: 0;
   padding: 14px;
   gap: 12px;
 }
 
 nav li {
   margin-right: 10px;
 }
 
 nav a:hover {
   text-decoration: underline;
 }
 nav a {
   color: #cfd8e5;
   text-decoration: none;
   font-size: 20px;
 }
 
 /* Logo styles */
 .logo {
   display: none;
   width: 200px;
   height: 200px;
   margin: 0;
   background-image: url(logo.png);
   background-size: cover;
   animation: fadein 2s;
 }
 
 @keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }
 
 /* Main styles */
 main.about{
  min-height: var(--doc-height) ;
  width: auto;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("./images/about_background.jpeg");
  background-size: cover;
 }

 main {
  min-height: var(--doc-height) ;
  width: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #00053c;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("./images/index_background.jpeg");
  background-size: cover;

}

 /* Footer styles */
 footer {
   background-color: #decdaf;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   padding: 10px;
 }
 
 .left-col {
  display: flex;
  flex-direction: column;
  
  flex-basis: 50%;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
 }

 .custom-file-upload {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2196F3;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 0px 0px 0px;
}

.custom-file-upload:hover {
  background-color: #1976D2;
}

#file-upload {
  display: none;
}

#file-upload:not(:disabled) + .custom-file-upload {
  cursor: pointer;
}

#file-upload:not(:disabled):focus + .custom-file-upload {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#file-upload:focus + .custom-file-upload:before {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#file-upload:valid + .custom-file-upload:before {
  content: attr(data-file-name);
}

.custom-file-upload i {
  margin-right: 5px;
}

/* Styles for the table container */
.table-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px;
}

th {
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
  background-color: #ccc;
  background-image: linear-gradient(to bottom,
  rgba(33, 100, 76, 0.694),
  rgb(32, 32, 126));
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgba(73, 91, 197, 0.677);
  color: #ccc;
  padding: 8px;
  text-align: left;
}

/* Styles for the table cells */
td {
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
  border: 1px solid rgba(73, 91, 197, 0.677);
  padding: 8px;
  text-align: left;
  color: #ccc;
  background-image: linear-gradient(to bottom,
  rgba(154, 151, 0, 0.378),
  rgba(0, 0, 148, 0.5));
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  /* Set display to flex and flex-wrap to wrap */
  .table-container {
    display: flex;
    flex-wrap: wrap;
  }

  main {
    flex-direction: column;
    gap: 15px;
  }

  /* Set flex-basis and flex-grow for table cells */
  td {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 8px;
  }
}

